@import-normalize; /* bring in normalize.css styles */

/* html {
  position: relative;
  min-height: 100%;

  margin-left: calc(100vw - 100%);
  margin-right: 0;

  @media screen and (min-width: 768px) {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
} */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol,
li,
a {
  margin: 0;
  padding: 0;
}

li,
a {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* svg {
  color: inherit;
} */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-style: normal;
  color: inherit;
  display: block;
}

button {
  cursor: pointer;
  outline: none;
}

input {
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
